.nav{
    background-color: black;
    color: #fff;
    width: 100%;
    padding: 2em 0;
}
.nav ul{
    margin: 0;
    display: flex;
    gap: 2em;
    text-decoration: none;
    list-style: none;
}
.nav ul li Link{
    text-decoration: none;
}